<div class="container" ng-app="contacts" ng-controller="EditController">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Edit</li>
            </ul>
        </div>
    </div>

    <div class="row row-content">
        <div class="col-md-8">
            <form class="form-horizontal" name="contactsForm" ng-submit="updateContact()" novalidate>
                <!----------------------------------------------------------------->
                <div class="form-group row">
                    <div class="col-sm-2">
                        <span class="label label-info" ng-model="contact.id">{{contact.id}}</span>
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-4">
                        <label class="form-check-label active"><input class="form-check-input" type="checkbox" ng-model="contact.active"> Active </label>
                    </div>
                </div>
                <!--------------------------------------------------------------->
                <div class="form-group row">
                    <div class="col-sm-2">
                        <select class="form-control" ng-model="contact.title">
                      <option ng-repeat="title in titles" value = {{title}} label = {{title}}></option>
                      </select>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="namef" name="namef" placeholder="Enter First Name" ng-model="contact.namef" required>
                    </div>
                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="namel" name="namel" placeholder="Enter Last Name" ng-model="contact.namel" required>
                    </div>
                </div>

                <!----------------------------------------------------------------->
                <div class="form-group row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="jobtitle" name="jobtitle" placeholder="Job Title" ng-model="contact.jobtitle">
                    </div>
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="company" name="company" placeholder="Company" ng-model="contact.company">
                    </div>
                </div>
                <!----------------------------------------------------------------->
                <div class="form-group row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="address1" name="address1" placeholder="Address 1" ng-model="contact.address1">
                    </div>
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="address2" name="address2" placeholder="Address2" ng-model="contact.address2">
                    </div>
                </div>
                <!----------------------------------------------------------------->
                <div class="form-group row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="suburb" name="suburb" placeholder="Suburb" ng-model="contact.suburb">
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" ng-model="contact.state">
                      <option ng-repeat="state in states" value = {{state}} label = {{state}}></option>
                      </select>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="pcode" name="pcode" placeholder="Post Code" ng-model="contact.pcode">
                    </div>
                </div>
                <!----------------------------------------------------------------->
                <div class="form-group row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" ng-model="contact.category">
                      <option ng-repeat="category in categories" value = {{category}} label = {{category}}></option>
                      </select>
                    </div>
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="phoneh" name="phoneh" placeholder="Telephone Home" ng-model="contact.phoneh">
                    </div>
                </div>
                <!----------------------------------------------------------------->
                <div class="form-group row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="phonew" name="phonew" placeholder="Telephone Work" ng-model="contact.phonew">
                    </div>
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="phonem" name="phonem" placeholder="Telephone Mobile" ng-model="contact.phonem">
                    </div>
                </div>
                <!----------------------------------------------------------------->
                <div class="form-group row has-feedback">
                    <div class="col-sm-2">
                        <label for="birthday" class="col-form-label">Birthday</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" id="birthday" name="birthday" ng-model="contact.birthday" /> <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                    </div>
                    <div class="col-sm-2">
                        <label for="nextcall" class="col-form-label">Next Call</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" id="nextcall" name="nextcall" ng-model="contact.nextcall" /> <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                    </div>
                </div>
                <!----------------------------------------------------------------->
                <div class="form-group row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email" ng-model="contact.email">
                    </div>
                </div>
                <!----------------------------------------------------------------->
                <div class="form-group row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="product" name="product" placeholder="Product" ng-model="contact.product">
                    </div>
                </div>
                <!----------------------------------------------------------------->
                <div class="form-group row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="family" name="family" placeholder="Family" ng-model="contact.family">
                    </div>
                </div>
                <!----------------------------------------------------------------->
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="comments" class="control-label">Comments</label>
                    </div>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="12" ng-model="contact.comments"> </textarea>
                    </div>
                </div>
                <!----------------------------------------------------------------->
                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-disabled="contactsForm.$invalid">Save</button>
                    </div>
                </div>
                <!------------------------------------------------------------------->
                <div class="form-group row">
                    <span ng-show="contactsForm.namef.$invalid && !contactsForm.namef.$pristine" class="help-block">Your First name is required.</span>
                </div>
            </form>
        </div>
    </div>
</div>
