<div class="container" ng-controller="ContactsController">


    <!-- list  -------------------------------------------------------------------->
    <div class="row row-content">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-condensed table-striped table-hover table-inverse" ">

                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Company</th>
                            <th>Birthday</th>
                            <th>Next Call</th>
                            <th>Delete</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="contact in dataset | orderBy:dataset.namel ">
                            <td>{{contact.id}}</td>
                            <td>{{contact.title}}&nbsp{{contact.namef}}&nbsp{{contact.namel}}</td>
                            <td>{{contact.company}}</td>
                            <td>{{contact.birthday | date}}</td>
                            <td>{{contact.nextcall | date}}</td>
                            <td><button type="button " class="btn btn-xs btn-danger " ng-click="deleteContact(contact.id) "> <span class="glyphicon glyphicon-trash "></span></button></td>
                            <td>
                              <button type="button " class="btn btn-xs btn-success " <a ui-sref="app.edit({id:contact.id}) "><span class="glyphicon glyphicon-edit "></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
