<div class="container" ng-controller="ContactsController">


    <!-- list  -------------------------------------------------------------------->
    <div class="row">
        <div class="col-xs-12 ">
            <p style="padding:20px;"></p>
            <h3 align=center>All Contacts</h3>
            <div class="col-xs-12" ng-if="!isok">
                <h3>{{message}}</h3>
            </div>
        </div>
    </div>
    <div class="row row-content">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table">
                    <caption>Responsive Table Layout</caption>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="contact in contacts | orderBy:contacts.namel">
                            <td>{{contact.id}}</td>
                            <td>{{contact.namef}}&nbsp{{contact.namel}}</td>
                            <td><button type="button" class="btn btn-xs btn-danger" ng-click="deleteContact(contact.id)"> <span class="glyphicon glyphicon-trash"></span></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
